<footer class="ba-footer text-green text-center" id="footer">
    <div class="row">
        <div class="column small-12 medium-6 large-4 ba-footer__column">
            <a href="#" class="ba-footer__link">Privacy Policy</a> <!-- /.ba-footer__link -->
            <a href="#" class="ba-footer__link">Terms of Use</a> <!-- /.ba-footer__link -->
            <a href="#" class="ba-footer__link">Return Policy</a> <!-- /.ba-footer__link -->
        </div>
        <!-- /.column small-16 -->
        <div class="column small-12 large-4 text-center ba-footer__medium">
            <a href="#" class="ba-footer__logo text-uppercase">cbd</a> <!-- /.ba-footer__logo -->
            <div class="ba-footer__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <!-- /.ba-footer__social -->
            <form action="#" method="POST" class="ba-footer__form">
                <label class="text-center">Subscribe to Newsletter

                    <input type="email" required placeholder="Email">
                </label>
            </form>
            <div class="ba-footer__copyright">
                © 2018. CbD health.
            </div>
            <!-- /.ba-footer__copyright -->
        </div>
        <!-- /.column small-12 large-4 -->
        <div class="column small-12 medium-6 large-4 ba-footer__column">
            <a href="#" class="ba-footer__link text-uppercase">shipping info</a> <!-- /.ba-footer__link -->
            <a href="#" class="ba-footer__link text-uppercase">returns / exchanges</a> <!-- /.ba-footer__link -->
            <a href="#" class="ba-footer__link text-uppercase">contact</a> <!-- /.ba-footer__link -->
        </div>
        <!-- /.column small-16 -->
    </div>
    <!-- /.row -->
</footer>