<div class="ba-header">
    <nav class="ba-header__nav show-for-large">
        <ul data-smooth-scroll>
            <li class="ba-header__items"><a href="#">Home</a></li>
            <li class="ba-header__items"><a href="#about"> Products</a></li>
            <li class="ba-header__items"><a href="#FAQ"> FAQs</a></li>
            <li class="ba-header__items"><a href="#footer"> Contact Us</a></li>
        </ul>
    </nav>
    <!-- /.ba-header__nav -->
    <a href="#" class="ba-header__logo text-uppercase">
        cbd
    </a>
    <!-- /.ba-her__logo -->
    <div class="ba-header__buttons">
        <button class="text-uppercase">login</button>
        <button class="text-uppercase"> 
            <svg width="20px" height="20px">
                <use xlink:href="#search"/>
            </svg>Search</button>
        <button class="text-uppercase">Cart (0)</button>
        <button class="text-green hide-for-large" type="button" data-open="offCanvas" aria-label="Show menu"><i class="fas fa-bars"></i>
        </button>
    </div>
    <!-- /.ba-header__buttons -->
</div>
<!-- /.ba-header -->