{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">


</head>

<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-content-scroll=false>
      {{> offcanvas}}
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      {{> header}}

      <main>
        {{> body}}
      </main>
      {{> footer}}
    </div>
  </div>
  {{> sprites}}



  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  <script async defer src="{{root}}assets/js/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChmeauGNbTTW1DFbCW6RsMeOjgPUUs8SY"></script>
</body>

</html>